##
## This file allows Deployer users to specify that certain 
## deployable objects are common to their target environments.
## Any object listed in this file will not appear as a selectable
## item for deployment, nor will it ever be returned as a
## dependency of some other selected deployment item
##
## For each object type listed below, the user may enter a
## comma-separated list of object names.  These names should be
## in the same format as you'd see them in the Deployer's "Define"
## page.  Some examples are given for the less intuitive types, but
## in general they all look something like this:
##  IS.Package=WmTN,MyProjectPackage1,MyProjectPackage2
##
IS.ACL=
IS.AdapterConnection=
IS.AdapterListener=
IS.AdapterNotification=
IS.AdapterService=
IS.CService=
IS.Document=
IS.Document=
IS.ExtendedSetting=
IS.File=
IS.FlatFileDictionary=
IS.FlatFileSchema=
IS.FlowService=
IS.Group=
IS.JavaService=
IS.Mainframe3270Pool=
IS.MainframeHostPool=
IS.MainframeTransactionGroupService=
IS.MainframeTransactionService=
IS.Package=PSFT_E1_Adapter,WmACH,WmACHForTN,WmACHForTNSamples,WmART,WmARTExtDC,WmAS400,WmAS400Samples,WmAssetPublisher,WmCASmf,WmChem,WmClearCase,WmDB,WmDeployer,WmDesigner,WmDotNet,WmebXML,WmEDI,WmEDIforTN,WmEDIINT,WmEJBAdapter,WmEntireX,WmEstdCommonLib,WmFIN,WmFINDev,WmFINMarketPractice,WmFINSamples,WmFINTransport,WmFIX,WmFIXForTN,WmFIXMessages,WmFIXSamples,WmFlatFile,WmIPCommon,WmIPCore,WmIPPersist,WmIPRoute,WmISExtDC,WmJDBCAdapter,WmJMSAdapter,WmLogUtil,WmLotusNotesAdapter,WmMonitor,WmMQAdapter,WmMSCodegen,WmMSMQAdapter,WmOptimize,WmPeopleSoftAdapter,WmPIPTools,WmPKI,WmPRT,WmPublic,WmRemedyAdapter,WmRNIF11TRP,WmRNIF20TRP,WmRoot,WmRosettaNet,WmRules,WmSalesforceAdapter,WmSampleAdapter,WmSAP,WmSAPOptimize,WmSiebelAdapter,WmSourceSafe,WmTaskClient,WmTN,WmTNExtDC,WmTNPKI,WmTNWeb,WmTomcat,WmTuxedoAdapter,WmUDDI,WmVCS,WmWin32,WmXSLT,WmDeployerResource,WmExtractor,WmBrokerDeployer,WmNUMDeployer,WmCloud
IS.ScheduledService=
IS.Schema=
IS.Specification=
IS.Trigger=
IS.User=someUser
IS.WebService=
##
## Format of the port key depends upon the port type.  For example
## for an email port, here are some examples:
##   IS.Port=EmailListener:imap:webm@someMachine
##   FilePollingListener:C:\\tmp
##   HTTPListener@5555
## 
IS.Port=
IS.User=

TN.TNBinaryType=
TN.TNContactType=
TN.TNDocumentAttribute=
TN.TNDocumentType=
TN.TNFieldDefinition=
TN.TNFieldGroup=
TN.TNIdType=
TN.TNProcessingRule=
TN.TNProfile=
TN.TNProfileGroup=
TN.TNQueue=
TN.TNExtendedField=
TN.TNSecurityData=

##
## For Agreements, the name is formatted like this:
##   SenderID:ReceiverID:AgreementID
##
TN.TNTPA=
