#webMethods Deployer Configurations
#Wed Nov 30 10:38:52 CET 2016
noDependencyChecks=false
projectLocking=false
solutionDeploymentOrder=Broker,IS,TN,AppPlatform,MWS,EDA,ProcessModel,Optimize,RULES,EventServer,UniversalMessaging,RULESMWS,AgileApps
stopServices=false
deployScheduledTaskByID=false
TN.PartialImplementation.classpath=com.wm.app.tn.acdl.repository.TNPartialComposite
EDA.PartialImplementation.classpath=
acdlSchemaFilePath=.\\packages\\WmDeployer\\config\\ACDL.xsd
IS.PartialImplementation.classpath=com.wm.app.b2b.server.deployer.ISPartialCompositeImpl
auditLog=
disableConcurrentDeploymentForPluginType=MWS
serviceTimeout=3600000
hideACDL=false
MWS.PartialImplementation.classpath=
clusterServiceInvokeTimeout=50
EventServer.PartialImplementation.classpath=
maxPluginObjects=2500
disablePorts=true
CEP.PartialImplementation.classpath=
stopTriggers=selected
rollbackAutomatic=false
targetServerCacheRefreshTime=300
runtimeBatchSize=10
RULES.PartialImplementation.classpath=
UniversalMessaging.PartialImplementation.classpath=com.softwareag.num.deployer.impl.NumPartialComposite
enableAdapters=false
concurrentDeployment=true
compilePackages=false
stopAdapters=true
disableServices=true
optimisticNetwork=false
checkpointAutomatic=false
reduceDependencyChecks=false
overwrite=ALWAYS
largeFileSupport=false
9.12_AgileApps_compatibleVersions=10.7
Broker.PartialImplementation.classpath=com.softwareag.broker.deployer.impl.BrokerPartialComposite
connectionCleanupInterval=10
validISVersions=9.12@SPI_1,9.10@SPI_1,9.9@SPI_1,9.8@SPI_1,9.7@SPI_1,9.6@SPI_1,9.5@SPI_1,9.0@SPI1,8.2@SPI1,8.0@SPI0,7.1@SPI0
BPM.PartialImplementation.classpath=
deployACLMap=true
8.0_compatibleVersions=8.2
repoBatchSize=1
deployTNRules=MERGE
BAM.PartialImplementation.classpath=
stopListeners=false
