
/*
Deployer treetable Style Sheet
*/

th, td, body, input, p, textarea, select
	{
	font-family: "Verdana", "Arial", "Geneva", "Helvetica"; 
	}
	

td, body
	{ 
	font-size: 70%;
	padding-left: 2px;
	padding-right: 2px;
	}



/* Never use these  */
th
	{
	font-size: 70%;
	}

p
	{
	font-size: 100%;
	}

/*                  */


body 
	{
	padding: 0px;
	color: black; 
	background: #ffffff;
	}
	

ul	{ 
	margin-top: 8px;
/*
	list-style-image:url('dot.gif');
*/
	}

li
	{
	margin-top: 8px;
	}

li a
	{
	color: #0D109B;
	}

li a:hover
	{
	color: blue;
	}

table
	{
	border: 0px none;
	border-collapse: collapse
	}

.topbar
	{
	padding: 0px;
	background-color: #758EBD;
	border-top: none;
	border-right: 1px solid #042F70; 
	border-left: 1px solid #0F5CCF; 
	border-bottom: 1px solid #042F70;
	}


.menu
	{
	padding-left: 3px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 0px;
	background-color: #758EBD;
	border-left: 1px solid #0F5CCF; 
	border-right: 1px solid #042F70; 
	border-bottom: 1px solid #042F70;
	scrollbar-face-color:#7B8EBD;
	scrollbar-highlight-color:#7F91BF;
	scrollbar-shadow-color:#455889;
	scrollbar-darkshadow-color:#5C73AE;
	scrollbar-track-color:#5177A1;
	scrollbar-3dlight-color:#97A6CB;
	scrollbar-arrow-color:white;    

	}

.toptitle
	{
	letter-spacing: 2pt; 
	font-weight: bold;
	background-color: #000000;
	color: #FFFFFF;
	text-align: left;
	}

.topmenu
	{
	text-align: right;
	color: #2D3F59; 
	}

.topmenu a { color: #000000; }
.topmenu a:hover { color: #B4C3DA; }

.topmessage
	{
	font-weight: bold;
	background-color: #F0F0E0;
	color: #000000;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	}

.keymessage
	{
	font-weight: bold;
	color: white;
	background-color: #C00000;
	}

.message
	{
	font-family: "Courier", "Courier New"; 
	padding: 10px;
	font-size: 80%;
	font-weight: normal;	
	background-color: #FFE5E9;
	color: #C60829;
	text-align: left; 
	letter-spacing: 1px;
	border: 4px solid #C60829;
	}



.menusection, .menusection-Action, .menusection-Server, 
.menusection-Logs, .menusection-Packages, .menusection-Adapters, 
.menusection-Security, .menusection-Settings, .menusection-Solutions,
.menusection-Deployer
	{
	color: #FFFFFF;	
	letter-spacing: 1pt;
	font-weight: bold;
	padding-left: 5px;
	}

.cookiecrumbs-Server,
.cookiecrumbs-Logs, .cookiecrumbs-Packages, .cookiecrumbs-Adapters, 
.cookiecrumbs-Security, .cookiecrumbs-Settings, .cookiecrumbs-Solutions
	{
	color: #FFFFFF;
	font-size: 60%;
	background: #187863;
	border-bottom: 1px black solid;
	}

.menusection
	{
	background-color: #944594;
	}

.menusection-Action
	{
	color: #FFFFFF;
	}
	
.menusection-Deployer
	{
	background-color: #800080;
	}

.menusection-Solutions
	{
	background-color: #B65012;
	}

.menusection-Server, .cookiecrumbs-Server
	{
	background-color: #187863;
	}

.menusection-Logs, .cookiecrumbs-Logs
	{
	background-color: #AD5994;
	}

.menusection-Packages, .cookiecrumbs-Packages
	{
	background-color: #EE7600;
	}

.menusection-Adapters, .cookiecrumbs-Adapters
	{
	background-color: #7827C3; 
	}

.menusection-Security, .cookiecrumbs-Security
	{
	background-color: #C60829; 
	}

.menusection-Settings, .cookiecrumbs-Settings
	{
	background-color: #08419C; 
	}
	
.menuitem, .menuitem-unclickable
	{
	background-color: #F0ECDA;
	color: #897159;
	}

.menuitem
	{
	cursor: hand;
	}
	
	
.menuitem a { color: #984B00; }
.menuitemspan { color: #633100; }
.menuitemspanie 
	{ 
	color: #633100; 
	text-decoration: underline;
	}

.menuseparator
	{
	border-top: 1px solid #F7F7D7;
	}
.fakeanchor { color: #633100; }


.pagetitle {
	font-size: 110%;
	letter-spacing:2px;
	font-weight: normal;
	background: white;
	color: black;
	padding-left: 5px;
	text-align: left;
	
	}

.title
	{
	background-color: #08429C;
	color: #FFFFFF; 
	text-align: left; 
	font-weight: bold;
	}

.heading
	{
	background-color: #000000; 
	color: #FFFFFF; 
	font-weight: bold;
	letter-spacing: 2px;
	padding-left: 5px;
	text-align: left; 
  	border-bottom: 1px solid #474747;
	}
.bottomrow
	{
	background: #000000 url('images/heading-bg-bottom.png') no-repeat bottom right; 
	color: #FFFFFF; 
	font-size: 1%;
	letter-spacing: 2px;
	height: 2px;
	text-align: left 
	}


.subHeading, .subheading-r
	{
	background-color: #DCCDC6;
	color: #352821;
	
	font-size: 67%;
	border-bottom: 1px #FAFAFA solid; 	

	}    

.subHeading
	{
	text-align: left;
	}    

.subHeading-r
	{
	text-align: right;
	}

.subHeading-r a, .subHeading a
	{
	color: #2D415F;
	font-weight: normal;
	letter-spacing: 0px;
	}

.subHeading a:hover { color: #000064; }



.memgraph {
	background-color: #F0F0E0;
	vertical-align: bottom;
	text-align: center;
}

.oddrow, .oddrow-l,
.oddrowdata, .oddrowdata-l, .oddrowdata-r,
.oddcol, .oddcol-l, .oddcol-r,
.rowlabel, .rowdata, .oddcol-rv
	{
	background-color: #E0E0C0;
	border-bottom: 1px white solid; 	
	}

.evenrow, .evenrow-l,
.evenrowdata, .evenrowdata-l, .evenrowdata-r,
.evencol, .evencol-l, .evencol-r, .evencol-rv
	{
	background-color: #F0F0E0;
	border-bottom: 1px white solid; 
	}


.oddrowv, .oddrow-lv,
.oddrowdatav, .oddrowdata-lv, .oddrowdata-rv,
.oddcolv, .oddcol-lv, .oddcol-rv,
.rowlabelv, .rowdatav
	{
	background-color: #E0E0C0;
	border-top: none; 	
	}

.evenrowv, .evenrow-lv,
.evenrowdatav, .evenrowdata-lv, .evenrowdata-rv,
.evencolv, .evencol-lv
	{
	background-color: #F0F0E0;
	border-top: none; 
	}


.oddrow-l a, .evenrow-l a, .oddrowdata-l, .evenrowdata-l
	{
	ZZZfont-weight: bold;
	}

.oddcol-l, .evencol-l
	{
	text-align: left;
	}


.oddcol-r, .evencol-r
	{
	text-align: right;
	}


.evencol, .oddcol
	{
	text-align: center;
	}


.oddcol, .evencol, .evencol-l, .evencol-r, .oddcol-l, .oddcol-r
	{
	font-size: 70%;
	color: #562A00;
	border-bottom: 1px solid #000000; 
	border-top: 1px solid #000000;
}



.evencol-rv, .oddcol-rv
	{
	font-size: 70%;
	color: #562A00;
	border-bottom: none;
	border-top: none;
}



/*

.oddcol, .evencol, .evencol-l, .evencol-r, .oddcol-l, .oddcol-r
	{
	background-color: #562A00;
	font-size: 70%;
	color: #562A00;
	border-bottom: 3px solid #DCCDC6; 
	}
*/

.oddrow, .oddrowdata-r, .evenrow, .evenrowdata-r, .rowlabel
	{
	text-align: right;
	}	

.oddrow-l, .oddrowdata-l, .evenrow-l, .evenrowdata-l,
.rowdata
	{
	text-align: left;
	}

.oddrowdata, .evenrowdata
	{
	text-align: center;
	}


.oddrow a,        .oddrow-l a,		.oddrowdata a,    .oddrowdata-l a, 
.oddrowdata-r a,  .oddcol a, 		.evenrow a,       .evenrow-l a, 
.evenrowdata a,   .evenrowdata-l a, 	.evenrowdata-r a, .evencol a  
	{
	color: #984B00;
	}

.oddrow a:hover,        .oddrow-l a:hover, 	.oddrowdata a:hover,    .oddrowdata-l a:hover, 
.oddrowdata-r a:hover,  .oddcol a:hover, 	.evenrow a:hover,       .evenrow-l a:hover, 
.evenrowdata a:hover,   .evenrowdata-l a:hover,	.evenrowdata-r a:hover, .evencol a:hover
	{
	color: blue;
	}


.fixedwidth
	{
	font-family: "Courier";
	}

.grouping-positive
	{
	color: #187863;
	}

.grouping-negative
	{
	color: C60829;
	}

.grouping-neutral
	{
	color: #717171;
	}

.action {
	background-color: #758EBD;
	color: #FFFFFF;
	text-align: left; 
	letter-spacing: 2px;
	padding-top: 2px;	
	padding-bottom: 2px;	
  	border-right: 1px solid #95AACD; 
  	border-left: 1px solid #5C7CB2; 
  	border-bottom: 1px solid #95AACD; 
  	border-top: 1px solid #5C7CB2;

	}

.action input
	{ 
	/* intentially blank */
	}


.widebuttons
	{
	font-size: 90%;
	letter-spacing: 2px;
	font-weight: bold;
	background-color:#E0E0C0;
	color:#000000;
	width:95%;
	}

.imagelink
	{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: hand;
	behavior: url('imagelink.htc');
	/*height: 14px;*/
	}


/*
webMethods Style Sheet
*/
