#
# webMethods Deployer plugin configuration file
# 

#
# Unique identifier for the plugin
#
type=AgileApps

#
# Deployment Support Type for your plugin server
# RUNTIME/OFFLINE/BOTH
#
deploymentSupportType=OFFLINE

#
# The display name for your plugin server
#
label=AgileApps

#
# Whether or not the Plugin Instance A will be referring to dependencies
# on Plugin or Server Instance B
# 
referencesOtherServers=FALSE

#
# Just put false here
#
isLocal=TRUE

#
# Path to the web service logic in your plugin web service container
#
listObjectsPath=
pingPath=
getObjectsPath=
deployObjectsPath=
verifyObjectPath=
getDependenciesPath=
getConnectionInfoPath=


#
# Fields that will be displayed on the plugin connection configuration
# page for each plugin instance that needs to be accessed by the
# Deployer.  Leaving a blank value for any of these fields will prevent
# the Deployer from displaying it
#

agileAppsServerURL=Server URL
userLabel=User Name
passwordLabel=Password
SSLLabel=
versionLabel=Version
validVersions=10.7@SPI_2
connectionProperties=
