#
# webMethods Deployer plugin Configuration File
# 



#
# Unique identifier for the plugin
#
type=Optimize


#
# Deployment Support Type for your plugin server
# RUNTIME/OFFLINE/BOTH
#
deploymentSupportType=BOTH


#
# The display name for your plugin server
label=Optimize

#
# Whether or not the Plugin Instance A will be referring to dependencies
# on Plugin or Server Instance B
# 
referencesOtherServers=FALSE

#
# Just put false here
#
isLocal=FALSE

deploymentOrder=ProcessModel,Optimize
#
# Path to the web service logic in your plugin web service container
# (only needed if isLocal is FALSE)
#
listObjectsPath=services/deployer
pingPath=services/deployer
getObjectsPath=services/deployer
deployObjectsPath=services/deployer
verifyObjectPath=services/deployer
getDependenciesPath=services/deployer
getConnectionInfoPath=services/deployer
getObjectVarSubPath=services/deployer
hostSuffix_SPI_0=services/deployer
hostSuffix_SPI_1=services/deployer

#
# Path to local plugin jar
# (only needed if isLocal is TRUE)
#
#jar=Sample.jar
#className=com.wm.sample.deployer.plugin.SamplePlugin

#
# Fields that will be displayed on the plugin connection configuration
# page for each plugin instance that needs to be accessed by the
# Deployer.  Leaving a blank value for any of these fields will prevent
# the Deployer from displaying it
#
hostLabel=Host
portLabel=Port
# Add this attribute in when Optimize supports SSL for this web service
userLabel=User
passwordLabel=Password
SSLLabel=Use SSL
versionLabel=Version
validVersions=9.12@SPI_1,9.10@SPI_1,9.9@SPI_1,9.8@SPI_1,9.7@SPI_1,9.6@SPI_1,9.5@SPI_1,9.0@SPI_1,8.2@SPI_1,8.0@SPI_0,7.1@SPI_0
#connectionProperties=

#
# List of object types that can be deployed 
# 
objectTypes=OptimizeProcessConfig,OptimizeEventMap,OptimizeRule,OptimizeDataFilter,OptimizeDimension,OptimizeHierarchy,OptimizeCustomTree,OptimizeILink

# For each object type listed above, Deployer needs to to know how to 
# label a folder of them, what icon to use, and whether or not an entire
# folder of them can be deployed as a unique object (usually not)
#
objectType.OptimizeProcessConfig.folderName=Process Configuration
objectType.OptimizeProcessConfig.iconName=icon_page.gif
objectType.OptimizeProcessConfig.foldersAreDeployable=FALSE

objectType.OptimizeEventMap.folderName=Event Maps
objectType.OptimizeEventMap.iconName=icon_page.gif
objectType.OptimizeEventMap.foldersAreDeployable=FALSE

objectType.OptimizeRule.folderName=Rules
objectType.OptimizeRule.iconName=icon_page.gif
objectType.OptimizeRule.foldersAreDeployable=FALSE
 
objectType.OptimizeDataFilter.folderName=Data Filters
objectType.OptimizeDataFilter.iconName=icon_page.gif
objectType.OptimizeDataFilter.foldersAreDeployable=FALSE
 
objectType.OptimizeILink.folderName=Intelligent Links
objectType.OptimizeILink.iconName=icon_page.gif
objectType.OptimizeILink.foldersAreDeployable=FALSE
 
objectType.OptimizeDimension.folderName=Dimensions
objectType.OptimizeDimension.iconName=icon_page.gif
objectType.OptimizeDimension.foldersAreDeployable=FALSE
 
objectType.OptimizeHierarchy.folderName=Dimension Hierarchies
objectType.OptimizeHierarchy.iconName=icon_page.gif
objectType.OptimizeHierarchy.foldersAreDeployable=FALSE
 
objectType.OptimizeCustomTree.folderName=Custom Trees
objectType.OptimizeCustomTree.iconName=icon_page.gif
objectType.OptimizeCustomTree.foldersAreDeployable=FALSE
 
#
# Optional list of properties to display (at the project level).
# Data would be gathered from the user for each one of these objects
# and that data would be passed to the plugin during each invocation
# of getObjects (during the Build phase) and deployObjects (during 
# the deploy phase)
# 
projectProperties=incDimValues,displayDDL

#
# For each one of the plugin project properties above, need to
# know how to present the field to the user that will capture
# the data about the property
#
projectProperty.incDimValues.label=Include Dimension Members
projectProperty.incDimValues.type=BOOLEAN
projectProperty.incDimValues.default=FALSE

projectProperty.displayDDL.label=Display Data Definition Statements
projectProperty.displayDDL.type=BOOLEAN
projectProperty.displayDDL.default=FALSE